html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    margin: 0 auto;
    width: 550px;
    max-width: 550px;
    background-color: #3a69d3;
    color: #FFF;
}

.main-header {
    position: relative;
    padding: 20px 0;
    text-align: center;
    height: 160px;
}

.title {
    font-size: 40px;
    font-weight: 800;
    margin: 40px auto 0;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}


/* switch */
.switch-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
    font-weight: 600;
    color: #1e2a38;
}

.switch-wrapper p {
    margin: 0;
}

.toggle-btn {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px
}

.toggle-btn input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e2a38;
    border-radius: 16px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #FFF;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
  background-color: #3A69D2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3A69D2;
}

input:checked + .slider:before {
    transform: translateX(12px);
}

.container {
    background-color: #1e2a38;
    color: #FFF;
    padding: 20px 20px;
}


/* input options */
.task-input {
    flex: 9;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 10px;
    background-color: #FFFFFF;
    color: #888888;
    outline: none;
}

.item-options-wrapper {
    display: flex;
    flex: 3;
    gap: 1px;
}

.selection {
    display: flex;
    gap: 1px;
    height: 40px;
    margin-top: 20px;
}

.cost-drop-down {
    appearance: none;
    border: none;
    flex: 2;
    background-color: #F0F0F0;
    color: #1F2937;
    font-weight: 300;
    padding: 0 5px;
    cursor: pointer;
    background-image: url("./images/angle-down-solid.svg");
    background-repeat: no-repeat;
    background-position: 55px center;
    outline: none;
}

.cost-drop-down:hover {
    transform: scale(1.025); 
}

.add-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    flex: 1;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #FFFFFF;
    background-color: #3a69d3;
    font-size: 40px;
    padding-bottom: 5px;
    cursor: pointer;
}

.add-task-btn:hover {
    color: #1F2937;
    transform: scale(1.05);
}

/* invoice section */
.invoice-table {
    position: relative;
    margin-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #C3C6DB;
}

.column-titles {
    font-size: 12px;
    font-weight: 600;
    color: #D5D4D8;
}

.item-container {
    display: flex;
    align-items: center;
}

.item-container h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.item-container h2 {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 300;
}

.item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.item p {
    font-size: 8px;
    font-weight: 400;
    color: #D5D4D8;
}

.item-cost {
    display: flex;
}

.remove-btn {
   cursor: pointer; 
}

.remove-btn:hover {
    transform: scale(1.2);
    font-weight: 500;
 }

.dollar {
    color: #918E9B;
}

.total-container {
    margin-top: 12px;
}

.total h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 0;
    margin-left: auto;
}

.total p {
    font-size: 12px;
    font-weight: 300;
}

.send-btn {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 20px;
    padding: 8px 0;
    width: 100%;
    background-color: #3A69D2;
    color: white;
    font-size: 16px;
    border-radius: 7px;
}

.send-btn:hover {
    background-color: rgba(58, 105, 210, 0.9);
    cursor: pointer;
    transform: scale(1.01);
}

/* utility classes */

.justify-space-between {
    display: flex;
    justify-content: space-between; 
}

/* theme */

.light-mode {
    background: #F5F5F5;
    color: #2B283A;
}

.container-light-mode {
    background: #FFF;
    color: #4A4E74; 
}

.container-light-mode p {
    color: #918E9B;
}

.container-light-mode input, .cost-drop-down {
    border: 1px solid #D5D4D8;
}

/* messages */
.warning-msg {
    position: absolute;
    color: #3A69D2;
    font-weight: 600;
    top: 0px;
    right: 175px;
}